<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>St Patrick's FaceMash</title>
    <script src="https://cdn.tailwindcss.com/"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: Inter, serif;
        }
    </style>

</head>
<body class="min-h-screen flex flex-col p-8 items-center justify-center">

    <h1 class="text-4xl font-bold mb-6">St Patrick's <span class="text-green-500 font-serif">FaceMash</span></h1>

    <div class="bg-gray-300 flex rounded-xl p-8 w-full max-w-[450px]">
        <div class="flex flex-col w-[80px] mr-[150px]">
            <img class="w-[120px] mb-2 rounded-md" src="{{ face_1.image.url }}" alt="Face 1">
            <h1 class="text-center mb-2">{{ face_1.name }} </h1>
            <a class="w-full rounded-md text-center p-2 text-white bg-green-800" href="">Mash !!!</a>
        </div>

        <div class="flex flex-col">
            <img class="w-[120px] h-[200px] mb-2 rounded-md" src="{{ face_2.image.url }}" alt="Face 2">
            <h1 class="text-center mb-2">{{ face_2.name }} </h1>
            <a class="w-full rounded-md text-center p-2 text-white bg-green-800" href="">Mash !!!</a>
        </div>
    </div>
        <span class="text-gray-500">&copy; GNX</span>
</body>
</html>